<h3>Name</h3>
<p><%= @dream.name %></p>
<h3>Date</h3>
<p><%= @dream.date %></p>
<h3>Description</h3>
<p><%= @dream.description %></p>
<h3>Lucid?</h3>
<p><%= @dream.lucid ? "Yes" : "No" %></p>
<h3>Dream Signs in this dream:</h3>
<ul>
  <li>Sign 1</li>
  <li>Sign 2</li>
  <li>Sign 3</li>
</ul>
<%= link_to "<- back to dreams", dreams_path %>