<h3>Name</h3>
<p><%= @dream.name %></p>
<h3>Date</h3>
<p><%= @dream.date %></p>
<h3>Description</h3>
<p><%= @dream.description %></p>
<h3>Lucid?</h3>
<p><%= @dream.lucid ? "Yes" : "No" %></p>
<h3>Dream Signs in this dream:</h3>
<ul>
  <% @dream.dreamsigns.each do |dreamsign| %>
    <li><%= dreamsign.name %></li>
  <% end %>
</ul>
<%= link_to "<- back to dreams", dreams_path %>