<div class="search-form">

  <h2>Browse</h2>

  <%= form_tag(user_path(current_user), method: "get") do %>

    <div class="form-group">
      <%= text_field_tag :keyword, params[:keyword], class: 'form-control', placeholder: 'Keyword' %>
    </div>

    <div class="form-group">
      <%= check_box_tag :lucid, 'true', params[:lucid] %>
      <%= label_tag :lucid, 'Lucid only', class: 'checkbox-inline' %>
    </div>

    <div class="form-group">
      <%= date_select :from, 'date', include_blank: true, end_year: Date.today.year, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= date_select :to, 'date', include_blank: true, selected: Date.today, end_year: Date.today.year, class: 'form-control' %>
    </div>

    <div class-"form-group">
      <%= submit_tag "Search", class: 'btn btn-primary' %>
    </div>

  <% end %>

</div>
