<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>DreamApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/header' %>

    <div class='flash-messages'>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
    
    <div class="container">
      <div class="row">

        <div class="col-md-7 col-md-offset-1">
          <section class="main-content">
            <%= yield %>
          </section>
        </div>

        <div class="col-md-3">
          <aside class="search-sidebar">
            <%= render 'layouts/form' %>
          </aside>
        </div>

      </div> <!-- row -->
    </div> <!-- container -->

    <%= render 'layouts/footer' %>

    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
